@import url("https://fonts.googleapis.com/css2?family=Roboto&family=Source+Code+Pro&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Roboto, sans-serif;
}

.container {
  padding-top: 20px;
  width: 90vw;
  margin: 0 auto;
}

.name {
  font-size: 36px;
}

.contacts {
  display: flex;
  align-items: center;
}
.contacts_links {
  list-style: none;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  margin: 0 -10px;
  width: 100%;
}
.contacts__item {
  display: flex;
  align-items: center;
  flex: 0 0 30%;
  padding: 20px 10px;
}
.contacts__item-icon {
  position: relative;
  padding: 4px 5px 0px 0px;
  width: 20px;
  height: 20px;
}
.contacts__item-icon img {
  width: 100%;
}
.contacts__item-link {
  font-size: 20px;
  font-family: "Source Code Pro", monospace;
}
@media (max-width: 420px) {
  .contacts__item-link {
    font-size: 16px;
  }
}

.about {
  margin: 15px 0px 0px 0px;
  font-size: 24px;
}
.about span {
  font-weight: 700;
}

.aim {
  margin: 10px 0px 0px 0px;
  font-size: 24px;
}
.aim span {
  font-weight: 700;
}

.examples {
  margin: 40px 0px 0px 0px;
}
.examples .title {
  font-size: 36px;
}
.examples__body {
  display: flex;
  flex-wrap: wrap;
  margin: 0 -10px;
}
.examples__item {
  position: relative;
  display: flex;
  flex: 0 0 100%;
  border: 1px solid black;
  border-radius: 7px;
  padding: 10px 0;
  margin: 10px;
  transition: 0.5s all;
  color: black;
  text-decoration: none;
}
.examples__item:hover {
  background-color: rgba(119, 190, 238, 0.63);
}
.examples__item-wrapper {
  display: flex;
  align-items: center;
  width: 90%;
  margin: 0 10px;
}
.examples__item-icon {
  flex: 0 0 40px;
  width: 40px;
  height: 40px;
  margin: 0px 10px 0px 0px;
}
.examples__item-icon img {
  width: 100%;
  height: 100%;
}
.examples__item-title {
  font-size: 26px;
}
.examples__item-descr {
  margin: 5px 0px 0px 0px;
  font-size: 16px;
  font-weight: 300;
}