@import url("https://fonts.googleapis.com/css2?family=Roboto&family=Source+Code+Pro&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Roboto, sans-serif;
}

.container {
  padding-top: 20px;
  width: 90vw;
  margin: 0 auto;
}

.name {
  font-size: 36px;
}

.contacts {
  display: flex;
  align-items: center;
}
.contacts_links {
  list-style: none;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  margin: 0 -10px;
  width: 100%;
}
.contacts__item {
  display: flex;
  align-items: center;
  flex: 0 0 30%;
  padding: 20px 10px;
}
.contacts__item-icon {
  position: relative;
  padding: 4px 5px 0px 0px;
  width: 20px;
  height: 20px;
}
.contacts__item-icon img {
  width: 100%;
}
.contacts__item-link {
  font-size: 20px;
  font-family: "Source Code Pro", monospace;
}
@media (max-width: 420px) {
  .contacts__item-link {
    font-size: 16px;
  }
}

.aim {
  margin: 10px 0px 0px 0px;
  font-size: 24px;
}
.aim span {
  font-weight: 700;
}

.projects {
  margin: 20px 0 0 0;
}
.projects__body {
  display: flex;
  flex-direction: column;
}
.projects__title_with-space {
  margin: 15px 0px 0px 0px;
}

.project-item {
  display: flex;
  flex-wrap: wrap;
  transition: 0.5s all;
  border: 1px solid black;
  border-radius: 7px;
  margin: 10px 0;
}
.project-item-icon {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 5px;
  width: 50px;
  height: 50px;
}
.project-item-icon img {
  width: 100%;
  height: 100%;
}
.project-item__deploy-link {
  flex: 1 1 calc(100% - 50px);
  padding: 10px 0;
  color: black;
  text-decoration: none;
  transition: 0.5s all;
}
.project-item__deploy-link:hover {
  background-color: rgba(119, 190, 238, 0.63);
}
.project-item__source-link {
  display: flex;
  padding: 10px 0;
  align-items: center;
  justify-content: center;
  transition: 0.5s all;
}
.project-item__source-link:hover {
  background-color: rgba(119, 190, 238, 0.63);
}
@media (max-width: 768px) {
  .project-item__source-link {
    flex: 1 1 100%;
  }
}
.project-item__deploy-link-body {
  display: flex;
  align-items: center;
}
.project-item__content {
  display: flex;
  flex: 1 1 100%;
  flex-direction: column;
}
.project-item__content_no-icon {
  padding: 0px 0px 0px 20px;
}
.project-item__title {
  font-size: 26px;
}
.project-item__descr {
  margin: 5px 0px 0px 0px;
  font-size: 16px;
  font-weight: 300;
}
.project-item__features-list {
  padding: 0px 0px 0px 20px;
}